{% extends 'market_place/index.html.twig' %}

{% block title %}Hello MarketController!{% endblock %}

{% block content_body %}
    <div class="row g-4">
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card shadow h-100">
                markets
            </div>
        </div>
    </div>
{% endblock %}
