{% extends 'base.html.twig' %}

{% block title %}Market Place IndexController!{% endblock %}

{% block body %}
    <div class="page-title-area user-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Market Place</h2>
                        <p>index</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content_body %}<h1>Market Place Index</h1>{% endblock %}
    </div>
{% endblock %}
