@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-size: 0.95rem;
    font-weight: 200;
    line-height: 1.5;
}

/**
a {
    color: rgba(60, 60, 62, 0.75);
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: rgba(60, 60, 62, 0.85);
    text-decoration: none
}
*/