{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.checkout'|trans }}{% endblock %}
{% block description %}{{ 'order.checkout'|trans }}{% endblock %}

{% block content_body %}
    <section class="container mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body bg-white border-bottom-0 border-start-0 border-end-0">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'order.checkout'|trans }}</h4>
                <div class="row g-2">
                    <div class="col-lg-9">
                        body
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}