{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.checkout'|trans }}{% endblock %}
{% block description %}{{ 'order.checkout'|trans }}{% endblock %}

{% block content_body %}
    <div class="card border-0 bg-light">
        <div class="card-header py-3 border-bottom-0 display-6 fs-4">{{ 'order.checkout'|trans }}</div>
    </div>

{% endblock %}