{% extends 'base.html.twig' %}

{% block title %}Techspace - {{ 'text.home.header'|trans }}{% endblock %}

{% block body %}
    <div class="page-title-area home">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>{{ 'text.home.header'|trans }}</h2>
                        <p>{{ 'text.home.desc'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title-area home-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2 class="text-dark">Home Block</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
