<ul class="flex justify-center group text-center ml-auto my-4 py-2.5 bg-gray-100 rounded-lg shadow-inner space-x-1 rtl:space-x-reverse">
    <li>
        <label for="symbol-1" class="sr-only">1</label>
        <input type="text" maxlength="1" data-focus-input-init data-focus-input-next="symbol-2" id="symbol-1"
               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-300 peer block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               required/>
    </li>
    <li>
        <label for="symbol-2" class="sr-only">2</label>
        <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="symbol-1"
               data-focus-input-next="symbol-3" id="symbol-2"
               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-300 peer block w-9 h-9 py-3 text-sm font-normal text-center text-gray-600 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               required/>
    </li>
    <li>
        <label for="symbol-3" class="sr-only">3</label>
        <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="symbol-2"
               data-focus-input-next="symbol-4" id="symbol-3"
               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-300 peer block w-9 h-9 py-3 text-sm font-normal text-center text-gray-600 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               required/>
    </li>
    <li>
        <label for="symbol-4" class="sr-only">4</label>
        <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="symbol-3"
               data-focus-input-next="symbol-5" id="symbol-4"
               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-300 peer block w-9 h-9 py-3 text-sm font-normal text-center text-gray-600 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               required/>
    </li>
    <li>
        <label for="symbol-5" class="sr-only">5</label>
        <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="symbol-4"
               data-focus-input-next="symbol-6" id="symbol-5"
               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-300 peer block w-9 h-9 py-3 text-sm font-normal text-center text-gray-600 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               required/>
    </li>
    <li>
        <label for="symbol-6" class="sr-only">6</label>
        <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="symbol-5" id="symbol-6"
               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-300 peer block w-9 h-9 py-3 text-sm font-normal text-center text-gray-600 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               required/>
    </li>
    <li>
        <button type="button" data-id="{{ coupon }}"
                data-url="{{ relPath }}"
                id="verify"
                class="p-2 mt-0.5 border border-indigo-300 bg-indigo-500 text-white rounded-lg shadow-lg hover:bg-blue-700 text-xs dark:text-gray-400 group-invalid:pointer-events-none group-invalid:opacity-30">
            {{ 'button.text.apply'|trans }}
        </button>
    </li>
    <li>
        <p id="text-explanation"
           class="mt-2.5 text-sm text-gray-500 dark:text-gray-400">{{ 'info.text.apply'|trans }}</p>
    </li>
</ul>
<div id="coupon-success"
     class="hidden p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
     role="alert"></div>
<div id="coupon-warning"
     class="hidden p-4 my-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-400"
     role="alert"></div>
<div id="coupon-danger"
     class="hidden p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
     role="alert"></div>