{% extends 'base.html.twig' %}

{% block title %}{{ 'text.info.header'|trans }}{% endblock %}

{% block body %}
    <section class="container section-content mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'text.info.header'|trans }}</h4>
                <img src="{{ asset('img/info-section.jpg') }}" class="img-fluid mt-xxl-4" alt="...">
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-white">
                            <h4>Business analysis</h4>
                            <p>
                                Our business analysts focus on the needs of your target audience to perform
                                requirements engineering and outline the scope of the solution. They also bridge the
                                gap between business stakeholders and an IT team to keep all the involved parties
                                aligned.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>UX and UI design</h4>
                            <p>
                                We start designing a web app with the analysis of target audience and planning
                                convenient, quick and frictionless user journeys. Along the way, our UI designers
                                join in to wrap the interface into a stylish cover.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Architecture</h4>
                            <p>
                                Our solution architects will plan all functional components and select optimal techs
                                for them to ensure that the business logic to be implemented is feasible and full.
                                They will also map all API connections within the web solution and with outside
                                systems.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4 hover-overlay hover-zoom hover-shadow ripple">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Front-end development</h4>
                            <p>
                                Our front-end developers can implement any design idea and ensure all interface
                                elements work properly. We work with all most-used JavaScript frameworks, such as
                                React, Vue, Next.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Back-end development</h4>
                            <p>
                                Our developers accurately implement the business logic of your web app on the back
                                end. We rely on proven frameworks and ensure fast and quality coding in Python,
                                Node.js, PHP, Go.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Integration</h4>
                            <p>
                                We set up APIs to integrate your web app with corporate or third-party systems and
                                services. App integration ensures immediate data synchronization across systems.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Testing and QA</h4>
                            <p>
                                We guarantee that your web solution will function flawlessly, work fast, be
                                user-friendly and secure. We have a team of skilled testing engineers to make
                                promises like that.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Help desk</h4>
                            <p>
                                Providing L1, L2 and L3 support services, we deliver hot-fixes within 24 hours to
                                prevent or resolve any issues in usage, technology and code that may arise. We help
                                you provide high availability and trouble-free functionality of your web app.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item col-md-12 h-100 bg-light">
                            <h4>Continuous support and evolution</h4>
                            <p>
                                We advance your web-based software to keep it efficient, competitive on the market,
                                and compliant with all your evolving business needs. Our well-established DevOps
                                processes let us roll out urgent updates within 1-2 days and release new, planned
                                functional modules every 2-6 weeks.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
