{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register.success'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-2">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-8 card card-body bg-light shadow px-xxl-3">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'text.register.success'|trans }}</h4>
                <div class="px-3">
                    <p class="mt-xxl-3">{{ 'text.register.success.desc'|trans|raw }}</p>
                    <hr class="my-0">
                    <p class=" mt-2 pb-xxl-5">{{ 'text.register.success.text_help'|trans({'%app_login%': path('app_login')})|raw }}</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </section>
{% endblock %}
