{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-2">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-md-8 card card-body bg-light shadow px-xxl-3">
                    <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'text.register'|trans }}</h4>
                    {{ include('registration/_user_form.html.twig') }}
                </div>
                <div class="col-2"></div>
            </div>
    </section>
{% endblock %}
