{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register.success'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-2">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-light text-dark shadow-sm" role="alert">
                    <h4 class="alert-heading">Well done! Keep it up!</h4>
                    <p>{{ 'text.register.success.desc'|trans|raw }}</p>
                    <hr>
                    <p class="mb-0">{{ 'text.register.success.text_help'|trans({'%app_login%': path('app_login')})|raw }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
