{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'Last shops'|trans }}{% endblock %}
{% block description %}{{ 'Last shops'|trans }}{% endblock %}
{% block extend_title %}{{ 'Last shops'|trans }}{% endblock %}

{% block content_body %}
    <h2 class="text-2xl mb-4 font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ 'Last shops'|trans }}</h2>
    <div class="mt-3">

    </div>
{% endblock %}
