{% extends 'base.html.twig' %}

{% block title %}{{ 'text.contact.header'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-2">
            <div class="row">
                <div class="col-12 card card-body bg-white border-bottom-0 border-start-0 border-end-0">
                    <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'title.contact_us'|trans }}</h4>
                    {{ include('contact/_form.html.twig') }}
                </div>
            </div>
    </section>
{% endblock %}
