{% extends 'base.html.twig' %}

{% block title %}{{ 'text.contact_us.success'|trans }}{% endblock %}
{% set _message = app.flashes('success') %}
{% block body %}
    <section class="container mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'text.contact_us.success'|trans }}</h4>
                <p class="mt-xxl-3">{{ 'text.contact_us.success.short_desc'|trans|raw }}</p>
                <hr class="p-0 border-3 border-danger-subtle">
                <p class="mb-0">{{ 'text.contact_us.success.long_desc'|trans }}</p>
            </div>
        </div>
    </section>
{% endblock %}
