{% extends 'base.html.twig' %}

{% block title %}{{ 'text.contact_us.success'|trans }}{% endblock %}
{% set _message = app.flashes('success') %}
{% block body %}
    <section class="container mt-lg-5">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-light text-dark shadow bg-light" role="alert">
                    <h3 class="alert-heading">{{ 'text.contact_us.success'|trans }}</h3>
                    <p>{{ 'text.contact_us.success.short_desc'|trans|raw }}</p>
                    <hr class="p-0 border-3">
                    <p class="mb-0">{{ 'text.contact_us.success.long_desc'|trans }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
