{% extends 'base.html.twig' %}

{% block title %}{{ 'text.profile'|trans }}{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-2xl flex mx-auto px-4 py-8 lg:py-16 lg:px-2">
            <div class="mx-auto w-4/6 rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                {{ include('profile/_form.html.twig') }}
            </div>
        </div>
    </section>
    {% include 'layouts/delete_confirmation.html.twig' %}
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast.html.twig') }}
{% endblock %}
