{% extends 'dashboard.html.twig' %}

{% block title %}
    {% block title_extend %}{% endblock %}{{ 'text.dashboard'|trans }}
{% endblock %}

{% block body %}
    <div class="relative flex flex-1 flex-col">
        <h2 class="text-xl md:text-2xl pl-2 text-red-400 font-semibold mb-2 dark:bg-gray-600">{% block title_content %}{{ 'text.dashboard'|trans }}{% endblock %}</h2>
        <div class="absolute right-2 top-2">{% block action %}{% endblock %}</div>
        {% block content %}
            {% include 'dashboard/content/index.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast/success.html.twig') }}
    {{ include ('layouts/toast/danger.html.twig') }}
{% endblock %}