{% extends 'base.html.twig' %}
{% block title %}{{ 'title.general.store.name'|trans }}{% endblock %}
{% block offest %}pt-4 py-4 lg:py-8 lg:px-2{% endblock %}
{% block search %}
    {% block childen %}
        <div class="max-w-screen-xl flex mx-auto justify-center mt-8">
            {% include 'market_place/search/search.html.twig' %}
        </div>
    {% endblock %}
{% endblock %}
{% block body %}
    {% block content_body %}
        <h2 class="text-2xl font-oswald pb-4 font-extrabold text-primary-700 dark:text-white">{{ 'title.general.store.name'|trans }}</h2>
        <div class="grid w-full gap-3 lg:grid-cols-3 md:grid-cols-2">
            {% for product in products %}
                {% set product = product.product %}
                {% include 'market_place/grid/main.html.twig' %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}