{% extends 'base.html.twig' %}

{% block title %}Blogs{% endblock %}

{% block body %}
    <div class="page-title-area blog">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>{{ entry.entryDetails.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-area default bg-white">
        <div class="container">
            {{ entry.entryDetails.title }}
            {{ entry.entryDetails.content|raw }}
        </div>
    </section>
{% endblock %}