@import url(https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap);

html {
    position: relative;
    min-height: 100%;
    font-family: 'Cabin', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #4e5768;
    font-family: 'Cabin', sans-serif;
    background-color: rgba(241, 241, 241, 0.9);
}

img {
    max-width: 100%;
    height: auto;
    height: 50%;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.blog-block .blog-img-block {
    height: 180px;
    white-space: nowrap;
    transition: 0.5s;
    overflow: hidden;
}

.blog-block img.blog-img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    transition: transform .4s;
}

.blog-block img.blog-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.blog-block .card .card-footer {
    border-top: 0;
    margin-top: -20px;
    background-color: transparent;
}

.blog-block .card .card-footer ul li {
    display: inline-block;
}

.blog-block .card .card-footer ul li:first-child {
    display: block;
    margin-bottom: 4px;
}

.blog-block .card .card-footer ul li:first-child a {
    font-size: 15px;
    color: #5e87eb;
}

.blog-block .card .card-footer ul li:nth-child(2) {
    display: block;
    float: left;
    padding-right: 15px;
}

.blog-block .card .card-footer ul li:nth-child(2) i {
    margin-right: 5px;
}

.blog-block .card .card-footer ul li a {
    font-size: 16px;
    color: rgba(32, 52, 170, 0.87);
    margin-left: 2px;
}

.blog-block .card .card-footer ul li a:hover {
    color: rgba(21, 33, 109, 0.87);
}

.blog-block .card .card-body a {
    max-height: 70px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(4, 83, 94, 0.85);
}

.blog-block.card .card-body a:hover {
    color: rgba(12, 123, 140, 0.7);
}

button {
    outline: 0 !important;
}

dl, ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-100 {
    padding-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.section-padding {
    padding: 100px 0;
}

.color-trashed {
    color: rgba(0, 0, 0, .75);
}

.color-published {
    color: rgba(94, 116, 244, 0.75);
}

.color-draft {
    color: rgba(255, 113, 113, 0.75);
}

.bg-trashed {
    background-color: rgba(0, 0, 0, .14);
}

.bg-published {
    background-color: rgba(94, 116, 244, 0.21);
}

.bg-draft {
    background-color: rgba(255, 113, 113, 0.21);
}

.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #5e87eb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.default-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #3e57d0;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
}

.default-btn:hover, .default-btn:focus {
    color: #fff;
}

.default-btn:hover span, .default-btn:focus span {
    width: 225%;
    height: 562.5px;
}

.bg-grey {
    background-color: rgb(215, 215, 215, 0.17);
}

/**************************************
 ** - Preloader Area
 **************************************/
.preloader {
    position: fixed;
    z-index: 999999;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.preloader .lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.preloader .lds-spinner div {
    -webkit-transform-origin: 40px 40px;
    transform-origin: 40px 40px;
    -webkit-animation: lds-spinner 1.2s linear infinite;
    animation: lds-spinner 1.2s linear infinite;
}

.preloader .lds-spinner div::after {
    content: " ";
    display: block;
    position: absolute;
    top: 5px;
    left: 35px;
    width: 5px;
    height: 20px;
    border-radius: 20%;
    background: #3e57d0;
}

.preloader .lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.preloader .lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.preloader .lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.preloader .lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.preloader .lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -.7s;
    animation-delay: -.7s
}

.preloader .lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.preloader .lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

.preloader .lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.preloader .lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.preloader .lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.preloader .lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

.preloader .lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

a {
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: 0 !important;
    color: #505060;
}

a:hover {
    text-decoration: none;
    color: #5e87eb;
}

.link {
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: 0 !important;
    color: #0c7b8c;
    font-weight: 600;
    line-height: 1.4;
}

.link:hover {
    text-decoration: underline;
    color: #5b6582;
}

.link-secondary {
    text-decoration: underline;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: 0 !important;
    color: #5b6582;
    line-height: 1.4;
}

.link-secondary:hover {
    text-decoration: none;
    color: #5e87eb;
}

blockquote i.bi {
    vertical-align: middle;
    font-size: 2.5rem;
    margin: 0 20px;
    color: #ff7a87;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.4;
    font-family: 'Cabin', sans-serif;
}

p {
    font-size: 15px;
    line-height: 1.8;
    color: #5f5f5f;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-family: 'Cabin', sans-serif;
}

p:last-child {
    margin-bottom: 0;
}

.section-title {
    text-align: center;
    margin-bottom: 65px;
    line-height: 1.5;
}

.section-title h6 {
    font-size: 16px;
    font-weight: 600;
    color: #FF9800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.section-title h2 {
    font-size: 33px;
    color: #505060;
    margin: 0;
    font-weight: 600;
}

.widget_search form {
    position: relative;
}

.widget_search form label {
    display: block;
    margin-bottom: 0;
}

.widget_search form .screen-reader-text {
    display: none;
}

.widget_search form .search-field {
    background-color: transparent;
    height: 50px;
    padding: 6px 15px;
    border: 1px solid #5e87eb;
    width: 100%;
    display: block;
    outline: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.widget_search form .search-field:focus {
    border-color: #5e87eb;
}

.widget_search form button {
    position: absolute;
    right: 0;
    outline: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    z-index: 1;
    border: none;
    color: #ffffff;
    background-color: #5e87eb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.widget_search form button:hover {
    background-color: #505060;
    color: #ffffff;
}

.tech-responsive-nav {
    display: none;
}

.tech-nav {
    padding: 5px 0;
}

.tech-nav .navbar {
    padding: 0;
}

.tech-nav .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.tech-nav .navbar .navbar-nav {
    margin: auto;
}

.tech-nav .navbar .navbar-nav .nav-item {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.tech-nav.index-navbar .navbar .navbar-nav .nav-item a {
    color: #555;
}

.tech-nav .navbar .navbar-nav .nav-item a {
    font-size: 15.5px;
    font-weight: 500;
    color: #dad9d9;
    text-transform: capitalize;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.tech-nav .navbar .navbar-nav .nav-item a:hover, .tech-nav .navbar .navbar-nav .nav-item a:focus, .tech-nav .navbar .navbar-nav .nav-item a.active {
    color: #ffffff;
}

.tech-nav .navbar .navbar-nav .nav-item a i {
    font-size: 10px;
    position: relative;
    top: -1px;
    margin-left: 1px;
}

.tech-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-right: 0;
}

.tech-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 0;
}

/*
.tech-nav .navbar .navbar-nav .nav-item:hover a, .tech-nav .navbar .navbar-nav .nav-item:focus a, .tech-nav .navbar .navbar-nav .nav-item.active a {
        color: #5e87eb;
}
*/
.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 230px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link.btn {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    background-color: #5e87eb;
    border-radius: .30rem;
    border: 1px solid transparent;
    transition: all 0.90s ease 0s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
    padding: 0;
    border-bottom: 1px solid #f1f1f1;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
    border-bottom: 0px solid transparent;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i.bi {
    font-size: 12px;
    margin-right: 5px;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    position: relative;
    color: #505060;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: capitalize;
    margin: 0;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #fff;
    background: #5e87eb;
    padding-left: 20px
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #696997;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 195px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 195px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 195px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #5e87eb;
}

.tech-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tech-nav .navbar .other-option {
    margin-left: 0;
    margin-top: 5px;
}

.tech-nav .navbar .other-option .default-btn {
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 15px rgb(123, 104, 238, 0.15);
}

.tech-nav .navbar .other-option .default-btn.nav-btn-1 {
    margin-right: 15px;
}

.tech-nav .black-logo {
    display: none;
}

.tech-responsive-nav {
    display: none;
}

.navbar-area {
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.navbar-area.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    background: #ffffff !important;
    -webkit-animation: 500ms ease-in-out 0s normal fadeInDown;
    animation: 500ms ease-in-out 0s normal fadeInDown;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.navbar-area.is-sticky .navbar-nav .nav-item a {
    color: #505050;
}

.navbar-area.is-sticky .navbar-nav .nav-item a:hover, .navbar-area.is-sticky .navbar-nav .nav-item a:focus, .navbar-area.is-sticky .navbar-nav .nav-item a.active {
    color: #5e87eb;
}

.navbar-area.is-sticky .tech-nav .navbar-brand .white-logo {
    display: none;
}

.navbar-area.is-sticky .tech-nav .navbar-brand .black-logo {
    display: block;
}

@media only screen and (max-width: 991px) {
    .navbar-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-area.is-sticky {
        border-bottom: none;
        -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-area.is-sticky .logo .white-logo {
        display: none;
    }

    .navbar-area.is-sticky .logo .black-logo {
        display: block;
    }

    .tech-responsive-nav {
        display: block;
    }

    .tech-responsive-nav .tech-responsive-menu {
        position: relative;
    }

    .tech-responsive-nav .tech-logo {
        position: relative;
        width: 50%;
        z-index: 4;
    }

    .tech-responsive-nav .tech-logo .white-logo {
        display: block;
    }

    .tech-responsive-nav .tech-logo .black-logo {
        display: none;
    }

    .tech-nav {
        display: none;
    }
}

.tech-form textarea.form-control,
.d-tech-form textarea.form-control {
    height: auto;
    padding-top: 15px;
    line-height: initial;
}

.d-tech-form .form-title {
    color: #4e5768;
    font-size: 17px;
}

.d-tech-form .form-title:hover {
    color: #5e87eb;
}

.tech-form .form-control.error {
    border-top: 3px solid #ea8b8b;
}

.d-tech-form .form-control.error {
    border: 1px solid #ea8b8b;
}

.tech-form .btn, .d-tech-form .btn {
    height: 50px;
    padding: 0 30px;
    font-weight: 600;
    font-size: 15px;
    background-color: #5e87eb;
    border-radius: .30rem;
    border: 1px solid transparent;
    transition: all 0.90s ease 0s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.tech-form .btn-outline-info,
.d-tech-form .btn-outline-info {
    color: #6e6e6e;
    background-color: #ddd;
    border: 1px solid #a0a0a0;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tech-form .btn:hover,
.tech-form .btn:focus,
.d-tech-form .btn:hover,
.d-tech-form .btn:focus {
    color: #fff;
    background-color: #172ea2;
}

.d-tech-form .btn.btn-secondary {
    color: #6e6e6e;
    background-color: #ddd;
    border: 1px solid #a0a0a0;
    padding-top: 12px;
}

.d-tech-form .btn.btn-secondary:hover,
.d-tech-form .btn.btn-secondary:focus {
    color: #fff;
    background-color: #636363;
}

.tech-form .form-control,
.d-tech-form .form-control {
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    height: 52px;
    color: #636363;
    border: none;
    border-left-width: medium;
    border-left-style: none;
    border-left-color: currentcolor;
    background-color: #fff;
    font-weight: 400;
    border-radius: 5px;
    border-top: 3px solid #9a9a9b;
    transition: all 0.4s;
}

.d-tech-form .form-control {
    border-radius: 4px;
    border: 1px solid #9a9a9b;
}

.tech-form .form-control::placeholder,
.d-tech-form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    opacity: 0.4; /* Firefox */
}

.tech-form input:focus,
.tech-form textarea:focus,
.tech-form select:focus,
.d-tech-form input:focus,
.d-tech-form textarea:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 3px solid #004caa;
}

.d-tech-form .entry-attachments img.attach {
    width: 100%;
    height: 190px;
}

.tech-form ul.pictures div.wrapper {
    display: none;
}

.tech-form ul.pictures .nav-link .spinner-grow {
    position: absolute;
    margin-top: 36px;
    margin-left: 36px;
}

.tech-form ul.pictures .nav-link.inactive img {
    opacity: 0.4;
}

.tech-form .pictures i.trash {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.tech-form ul.pictures .nav-link.active img {
    opacity: 1 !important;
}

.d-tech-form input:focus,
.d-tech-form textarea:focus {
    /*border-top: 0;*/
    border: 1px solid #004caa;
}

.service-message {
    position: fixed;
    z-index: 6;
    top: 14px;
    right: 20px;
}

.service-message .toast {
    width: 300px !important;
}

.service-message .fade {
    transition: opacity 0.5s linear !important;
}

.service-message .toast .toast-body {
    color: #364870;
    background-color: #cbd8f2;
}

.home-area {
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 650px;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-title-area,
.page-title-area.home,
.page-title-area.info,
.page-title-area.about,
.page-title-area.policy,
.page-title-area.terms,
.page-title-area.contact,
.page-title-area.user-area,
.page-title-area.request-password,
.page-title-area.request-blog,
.page-title-area.questions {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.page-title-area.request-password {
    background-image: linear-gradient(to bottom, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/user-area1.jpg);
    height: 120px;
}

.page-title-area.blog {
    background-image: linear-gradient(to right, rgba(77, 124, 238, 0.3), rgba(77, 124, 238, 0.3)), url(../img/blog-6.jpg);
    height: 250px;
}

.page-title-area.home {
    background-image: linear-gradient(to top, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/home-bg1.jpg);
    background-position: bottom center;
}

.page-title-area.about {
    background-image: url(../img/page-title-bg2.jpg);
}

.page-title-area.info {
    background-image: url(../img/page-title-bg3.jpg);
}

.page-title-area.policy {
    background-image: url(../img/page-title-bg1.jpg);
}

.page-title-area.contact {
    background-image: linear-gradient(to top, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/contact-us.jpg);
    background-position: center center;
}

.page-title-area.questions {
    background-image: linear-gradient(to top, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/page-title-bg5.jpg);
}

.page-title-area.terms {
    background-image: linear-gradient(to left, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/page-title-bg.jpg);
}

.page-title-area.default {
    background-image: linear-gradient(to bottom, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/default-bg.png);
    height: 300px;
}

.page-title-area.user-area {
    background-image: linear-gradient(to bottom, rgba(77, 124, 238, 0.2), rgba(77, 124, 238, 0.2)), url(../img/user-area1.jpg);
    height: 230px;
}

.page-title-content {
    text-align: center;
    margin-top: 45px;
}

.page-title-content h2 {
    margin-bottom: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}

.page-title-content h3 {
    margin-bottom: 0;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}

.page-title-content h4 {
    margin-bottom: 0;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
}

.page-title-content p {
    color: #fff;
    font-size: 18px;
    margin-top: 25px;
}

.section-area {
    position: relative;
    padding: 100px 0;
    z-index: 1;
}

.section-area.default {
    position: relative;
    padding: 50px 0 100px 0;
    z-index: 1;
}

.section-area.default h4 {
    padding-bottom: 5px;
}

.section-area.default .entry-meta {
    margin-bottom: 25px;
}

.section-area.default .entry-meta ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.section-area.default .entry-meta ul li {
    position: relative;
    display: inline-block;
    color: #505060;
    margin-right: 21px;
}

.section-area.default .entry-meta ul li span {
    display: inline-block;
    color: #505060;
    font-weight: 500;
}

.section-area.default .entry-meta ul li a {
    display: inline-block;
    color: #5f5f5f;
}

.section-area.default .entry-meta ul li a:hover {
    color: #5e87eb;
}

.section-area.default .entry-meta ul li i {
    color: #5e87eb;
    margin-right: 2px;
}

.section-area.default .entry-meta ul li::before {
    content: '';
    position: absolute;
    top: 12px;
    right: -15px;
    width: 6px;
    height: 1px;
    background: #5e87eb;
}

.section-area.default .entry-meta ul li:last-child {
    margin-right: 0;
}

.section-area.default .entry-meta ul li:last-child::before {
    display: none;
}

.section-area.default table {
    border-radius: 15px;
    /*border-top-left-radius: 15px;*/
}

.section-area.default table tr {
    border-bottom: 1px #eee solid;
}

.section-area.default table tr:last-child {
    border-bottom: none;
}

.section-area.default table [data-toggle="tooltip"] {
    cursor: pointer;
}

.section-area.default .container p {
    font-size: 15px !important;
}

.section-area.default a {
    color: #5e87eb;
}

.section-area.default a:hover {
    color: rgba(32, 52, 170, 0.87);
}

.content-image {
    position: relative;
    text-align: center;
}

.section-content .item {
    position: relative;
    z-index: 1;
    display: block;
    padding: 35px 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 1px 0px rgb(110, 110, 110, 0.12);
    -moz-box-shadow: 0px 2px 1px 0px rgb(110, 110, 110, 0.12);
    box-shadow: 0px 2px 1px 0px rgb(110, 110, 110, 0.12);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.section-content .item h4 {
    padding-bottom: 10px;
    text-align: center;
}

.section-content .item p {
    padding-bottom: 30px;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}

.section-content .item:hover {
    -webkit-transform: translateY(-5px);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    transform: translateY(-5px);
}

.section-content .item:hover h4 {
    color: #fff;
}

.section-content .item:hover p {
    color: #fff;
}

.section-content .item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-image: linear-gradient(-135deg, #000 0%, #5e87eb 100%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
}

.section-content .item.active:before, .section-content .item:hover:before {
    opacity: 1;
}

/**************************************
 ** - 00 - Accordion CSS
 **************************************/
.faq-accordion .accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;
}

.faq-accordion .accordion .accordion-item {
    display: block;
    margin-bottom: 0px;
    border-bottom: 1px solid argb(231 231 231);
}

.faq-accordion .accordion .accordion-item:last-child {
    margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item .accordion-title {
    color: #333;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    display: block;
    padding: 25px 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

.faq-accordion .accordion .accordion-item .accordion-title:hover {
    color: #5e87eb;
}

.faq-accordion .accordion .accordion-item .active.accordion-title {
    color: #5e87eb;
}

.faq-accordion .accordion .accordion-item .accordion-title i {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #333;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 14px;
}

.faq-accordion .accordion .accordion-item .active.accordion-title i {
    color: #5e87eb;
}

.faq-accordion .accordion .accordion-item .accordion-title.active i::before {
    content: "\F235";
}

.faq-accordion .accordion .accordion-item .accordion-content {
    display: none;
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item .accordion-content.show {
    display: block;
}

.tab-content label {
    color: #333;
}

.user-info {
    font-family: 'Cabin', sans-serif;
}

.user-info .image-container {
    position: relative;
}

.user-info .image-container #loading {
    display: none;
    margin-top: 40%;
    margin-left: 40%;
}

.user-info .image-container [type="file"] {
    display: none;
}

.user-info .image-container .img-thumbnail {
    width: 200px;
    height: 200px;
}

.user-info .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.user-info .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.user-info label {
    font-weight: bold;
}

.user-info .image-container:hover .image {
    opacity: 0.3;
}

.user-info .image-container:hover .middle {
    opacity: 0.9;
}

/**************************************
 ** - 00 - Footer Subscribe CSS
 **************************************/

.subscribe-form {
    max-width: 580px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.subscribe-form .input-subscribe {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: none;
    height: 50px;
    padding-left: 25px;
    border-radius: 5px;
    outline: 0;
    color: #505060;
}

.subscribe-form .input-subscribe::-webkit-input-placeholder {
    color: #5f5f5f;
}

.subscribe-form .input-subscribe:-ms-input-placeholder {
    color: #5f5f5f;
}

.subscribe-form .input-subscribe::-ms-input-placeholder {
    color: #5f5f5f;
}

.subscribe-form .input-subscribe::placeholder {
    color: #5f5f5f;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #5e87eb;
    color: #ffffff;
    border: none;
    height: 50px;
    padding: 0 30px;
    border-radius: 0px 5px 5px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 15px;
}

/**************************************
 ** - Copyright Area CSS
 **************************************/
.copyright-area {
    background-color: #0e1326;
    padding: 35px 0;
}

.copyright-area span {
    color: #ececec;
    font-size: 15px;
}

.copyright-area p {
    color: #ececec;
    font-size: 15px;
}

.copyright-area p a {
    color: #ececec;
    display: inline-block;
    font-weight: 600;
}

.copyright-area p a:hover {
    color: #5e87eb;
}

.copyright-area ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: right;
}

.copyright-area ul li {
    display: inline-block;
    color: #ececec;
    font-size: 15px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.copyright-area ul li a {
    display: inline-block;
    color: #ececec;
}

.copyright-area ul li a:hover {
    color: #5e87eb;
}

.copyright-area ul li::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -13px;
    width: 1px;
    height: 14px;
    background-color: #ffffff;
}

.copyright-area ul li:last-child {
    margin-right: 0;
}

.copyright-area ul li:last-child::before {
    display: none;
}

.copyright-area ul li:first-child {
    margin-left: 0;
}

.table .btn.btn-outline-lightning {
    color: #5b6582;
    background-color: transparent;
    border-color: #5b6582;
}

.table .btn.btn-outline-lightning:hover {
    color: #f0f3ff;
    background-color: #5b6582;
    border-color: #5b6582
}

/**************************************
 ** - Footer Area CSS
 **************************************/
.footer-area {
    position: relative;
    z-index: 2;
    background-color: #1c1c23;
}

.footer-area {
    position: relative;
    z-index: 1;
    background-image: url(../img/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-area::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #5e87eb;
    background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}

.footer-heading {
    margin-bottom: 25px;
}

.footer-heading h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 0 0 0 0;
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.single-footer-widget .footer-social {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.single-footer-widget .footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.single-footer-widget .footer-social li:last-child {
    margin-right: 0;
}

.single-footer-widget .footer-social i {
    display: inline-block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    color: #5e87eb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-align: center;
}

.single-footer-widget .footer-social i:hover {
    background-color: #5e87eb;
    color: #ffffff;
    border: 1px solid #5e87eb;
}

.single-footer-widget p {
    font-size: 15px;
    color: #ececec;
    font-weight: 400;
}

.single-footer-widget .footer-heading {
    margin-bottom: 25px;
}

.single-footer-widget .footer-heading h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    margin: 0 0 0 0;
}

.single-footer-widget .footer-quick-links {
    padding-left: 0;
    margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
    list-style-type: none;
    padding-bottom: 18px;
}

.single-footer-widget .footer-quick-links li:last-child {
    padding-bottom: 0;
}

.single-footer-widget .footer-quick-links li a {
    display: inline-block;
    color: #ececec;
    font-size: 15px;
    font-weight: 400;
}

.single-footer-widget .footer-quick-links li a:hover {
    color: #fff;
    text-decoration: underline !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.single-footer-widget .footer-info-contact {
    margin-bottom: 16px;
}

.single-footer-widget .footer-info-contact:last-child {
    margin-bottom: 0;
}

.single-footer-widget .footer-info-contact h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.single-footer-widget .footer-info-contact span {
    font-size: 15px;
    color: #ececec;
    font-weight: 400;
}

.single-footer-widget .footer-info-contact span a {
    font-size: 15px;
    color: #ececec;
    font-weight: 400;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.single-footer-widget .footer-info-contact span a:hover {
    color: #fff;
}

.footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 35px 0;
    background-color: #0e1326;
    letter-spacing: 0.3px;
}