.marketplace .dashed {
    border-style: dashed;
}

.marketplace .dotted {
    border-style: dotted;
}

.marketplace a.category-link {
    border-style: dashed;
    border-color: #7952B3;
    color: #7952B3;
    background-color: rgba(247, 247, 247, 0.55);
}

.marketplace a.category-link:hover {
    color: #ffffff;
    border-color: #eeeeee;
    transition: 0.4s;
    background: #7952B3;
}

.marketplace a.category-link:hover i {
    color: #ffffff;
}

.marketplace a.badge-child {
    color: #7952B3;
    font-weight: 400;
    font-size: 16px;
    margin-left: 17px;
}

.marketplace a.badge-child:hover {
    color: #6c757d;
    padding-left: 1px;
}