.marketplace .dotted {
    border-style: dotted;
}

.marketplace a.category-link {
    border-style: dashed;
    border-color: #7952B3;
    color: #7952B3;
    background-color: rgba(247, 247, 247, 0.55);
}

.marketplace a.category-link:hover {
    color: #ffffff;
    border-color: #eeeeee;
    transition: 0.4s;
    background: #7952B3;
}

.marketplace a.category-link:hover i {
    color: #ffffff;
}

.marketplace a.badge-child {
    color: #7952B3;
    font-weight: 400;
    font-size: 16px;
    margin-left: 17px;
}

.marketplace a.badge-child:hover {
    color: #6c757d;
    padding-left: 1px;
}

.marketplace .product-info .nav-link.active {
    border-bottom: #4e5768 2px solid !important;
    color: #0e1326 !important;
}

.marketplace .product-info .nav-link:hover {
    border-bottom: #4e5768 2px solid !important;
    color: #0e1326 !important;
}

.marketplace a.product-overlay img {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.marketplace .buttons {
    transition: .5s ease;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.marketplace .buttons:hover {
    opacity: 1;
}

.marketplace a.product-overlay img:hover {
    -webkit-filter: brightness(110%);
}
