.sidebar {
    margin-bottom: 10px;
    background-color: #2e4053;
}
.sidebar .sidebar-header {
    padding: 20px;
    overflow: hidden;
}
.sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}
.sidebar-header .user-info {
    float: left;
}

.sidebar-header .user-info > span {
    display: block;
}

.sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}
.sidebar-header .user-info .user-name {
    color: #fff;
    inline-size: 130px;
    overflow-wrap: break-word;
}

.sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

.sidebar .sidebar-header .user-info .user-role,
.sidebar .sidebar-header .user-info .user-status,
.sidebar .sidebar-search input.search-menu,
.sidebar .sidebar-search .input-group-text {
    color: #818896;
}
.sidebar .sidebar-search > div {
    padding: 10px 20px;
}
.sidebar .nav-item .nav-link {
    position: relative;
    color: #818896;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: capitalize;
    margin: 0;
    border-top: 1px solid #3a3f48;
}
.sidebar .nav-item .nav-link i {
    margin-right: 4px;
    border-radius: 4px;
    background: #5d6d7e;
    padding: 2px 5px;
}
.sidebar .nav-item .nav-link i.arrow {
    float: right;
    background: none;
    border-radius: 0;
}
.sidebar .nav-item .nav-link:hover,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link.active {
    color: #fff;
    background: #34495e;
    padding-left: 20px
}
.sidebar .blog .nav-link i,
.sidebar .other .nav-link i,
.sidebar .news .nav-link i,
.sidebar .article .nav-link i,
.sidebar .gallery .nav-link i,
.sidebar .faq .nav-link i {
    padding-right: 2px;
    padding-left: 15px;
    background: none;
}