<div class="service-message toast-container position-fixed top-0 end-0 p-3 p-3">
    <div class="toast text-bg-success fade hide bg-opacity-75" role="alert" aria-live="polite" aria-atomic="true" data-twe-delay="3000">
        <div class="toast-header">
            <i class="bi bi-bell pe-2 text-dark fs-6"></i>
            <strong class="mr-auto">{{ 'title.service.message'|trans }}</strong>
            <button type="button" class="btn-close mx-auto me-1" data-bs-dismiss="toast"
                    aria-label="{{ 'form.action.close'|trans }}"></button>
        </div>
        <div class="toast-body">
            {{ 'title.service.text'|trans({'%contact%': path('contact')})|raw }}
        </div>
    </div>
</div>
