{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register'|trans }}{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-lg px-4 py-8 mx-auto lg:py-16 lg:px-2">
            <div class="flex rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                {% include 'registration/_user_form.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}