{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register'|trans }}{% endblock %}
{% block class %}rounded-lg shadow-4{% endblock %}

{% block body %}
    <div class="max-w-3xl w-4/6 flex mx-auto bg-gray-50/40 rounded-xl shadow-xl my-8 lg:my-16 py-4 lg:py-8 dark:bg-gray-600">
        {% include 'registration/_user_form.html.twig' %}
    </div>
{% endblock %}