{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register.success'|trans }}{% endblock %}
{% block offest %}pt-4 py-8 lg:py-16 lg:px-2 max-w-lg w-4/6{% endblock %}
{% block childen %}{% endblock %}

{% block body %}
    <h2 class="block truncate text-2xl pb-4 font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ 'text.register.success'|trans }}</h2>
    <div class="text-gray-600 my-5 text-md dark:text-gray-50">{{ 'text.register.success.desc'|trans }}</div>
{% endblock %}