<ul id="categories" class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
    {% for category in categories %}
        <li>
            <button type="button"
                    data-slug="{{ category.slug }}"
                    class="inline-flex text-left w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                {{ category.name }}
            </button>
        </li>
    {% endfor %}
</ul>