{% extends 'base.html.twig' %}

{% block title %}{{ 'text.about_us.header'|trans }}{% endblock %}

{% block body %}
    <h2 class="text-2xl font-oswald pb-4 font-extrabold text-primary-700 dark:text-white">{{ 'title.about_us'|trans }}</h2>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-10">
        <div class="pr-3">
            <p class="text-gray-500 leading-relaxed mb-5 dark:text-white">{{ 'text.about_us.long_desc'|trans|raw }}</p>
        </div>
        <div class="pl-3">
            <img loading="lazy" class="w-full object-cover h-72 rounded-md shadow-md"
                 src="{{ asset('img/about-section.jpg') }}" alt="...">
        </div>
    </div>
{% endblock %}
