{% extends 'base.html.twig' %}

{% block title %}{{ 'site.title'|trans }}{% endblock %}

{% block body %}
    <h2 class="text-2xl pb-4 font-oswald font-extrabold text-primary-700 dark:text-white">{{ 'title.home'|trans }}</h2>
    <p class="w-full mb-3 flex p-4 rounded-xl bg-gray-50 text-gray-500">{{ 'site.description'|trans }}</p>
    <div class="flex w-full items-center flex-wrap justify-center bg-gray-50 border h-64 rounded-xl">
        <div class="h-full w-full relative">
            <div class="absolute top-1/2 w-full text-3xl text-center text-gray-400 font-bold">{{ 'text.asap'|trans }}</div>
        </div>
    </div>
{% endblock %}