{% extends 'base.html.twig' %}

{% block title %}{{ 'site.title'|trans }}{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-3xl flex mx-auto pt-4 py-8 lg:py-16 lg:px-2">
            <div class="mx-auto lg:w-4/6 sm:max-w-screen-5xl rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                <h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white">{{ 'title.home'|trans }}</h2>
                <p class="w-full mb-3 flex p-4 rounded-xl bg-gray-50 text-gray-500">{{ 'site.description'|trans }}</p>
            </div>
        </div>
    </section>
{% endblock %}