{% extends 'base.html.twig' %}

{% block title %}{{ 'text.about_us.header'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-5">
            <div class="row d-flex align-items-top">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="content-text">
                        <h2>{{ 'title.about_us'|trans }}</h2>
                        <p class="lh-lg">{{ 'text.about_us.long_desc'|trans|raw }}</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="content-image">
                        <img class="img-fluid" src="{{ asset('img/about-section.jpg') }}">
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
