{% extends 'base.html.twig' %}

{% block title %}{{ 'site.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-lg-5">
        <h2 class="text-dark">Home Block</h2>
    </div>
{% endblock %}
